.btn {
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    &:hover{ opacity: 0.9;
    }

}
.btn--cancel {
    background-color: #f44336;
    color: #fff;
    &:hover{ background-color: #c41505;
    }
}